# Ignore local temporary files
.DS_Store

# Ignore Bundler config
/.bundle

# Jekyll
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
vendor

# Ignore local cache of Rubocop remote config
.rubocop-*

# Ignore local cache of SimpleCov
/coverage
